.titulo01 {
  display: flex;
  justify-content: center;
  }

.imgs01 {
  display: flex;
  justify-content: center;
     }

.imgs02 {
      display: flex;
      justify-content: center;
         }


  
  